@font-face {
    font-family: myquicksand;
    src: url('fonts/Quicksand.ttf');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1b1a1d;
    color: rgb(225, 98, 52);
    font-family: myquicksand;
}

p,
li {
    color: rgb(79, 107, 243);
}

p::selection,
li::selection {
    color: rgb(225, 98, 52);
}

h1::selection,
h2::selection {
    color: rgb(79, 107, 243);
}


a {
    display: block;
}

img {
    max-width: 100%;
    border-radius: 24px;
}

#foodTitle {
    --padding: 0.5rem;
    --font-size: 1rem;
    font-size: var(--font-size);
    width: fit-content;
    position: relative;
    color: rgb(225, 98, 52);
    text-shadow: 0px 4px 0.25rem black;
    background: rgba(79, 106, 243, 0.794);
    border-radius: 1rem;
    padding: var(--padding);
    outline: 2px solid rgb(217, 217, 217);
    left: 50%;
    text-align: left;
    transform: translateX(-50%);
    /* font-size is 1 rem, padding is 0.5 rem on each side*/
    bottom: calc(var(--font-size) + var(--padding) * 4 + 1rem);
    box-shadow: 0px 4px 4px #0000005F;
}

#foodDiv {
    width: 100vw;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.foodItem {
    >a {
        display: flex;
        justify-content: center;
    }

    >a>img {

        transition: 500ms width ease;
        width: 50%;
    }
}

.foodItem:hover {


    >*>img {
        width: 55%;
    }

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 4px 1.5rem;
}

img {
    box-shadow: 0px 4px 4px #0000005F;
}